body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  overflow-x: hidden; /* Empêcher le défilement horizontal */
}

h1 {
  color: #009688;
}

.chart-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (min-device-width: 600px) {
  .chart-container {
    width: 33.33%;
    float: left;
    margin-bottom: 0;
  }
}

@media (max-device-width: 599px) {
  .chart-container {
    width: 100%;
    float: none;
  }
}
